.filters {
  display: flex;
  justify-content: center;
  margin-top: -34px;

  @media (min-width: 992px) {
    justify-content: flex-start;
  }
}

.grid {
  display: grid;
  gap: 30px 40px;
  margin-top: 38px;

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
