.card {
  background-color: white;
  border: solid 2px var(--white-dark);
  border-radius: 6px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 68px;
  overflow: hidden;
  min-height: 86px;

  > div {
    display: flex;
    justify-content: center;
  }

  &:hover {
    opacity: 0.6;
  }
}

.data {
  flex-direction: column;
  padding: 11px 26px;
}

.title {
  color: var(--gray-dark);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 7px 0 0 0;
}

.meta {
  color: var(--gray-light);
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1;

  > svg {
    margin-right: 8px;
  }
}
