.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  @media (min-width: 992px) {
    margin-top: 70px;
  }
}

.button {
  background-color: white;
  border: 2px solid var(--white-dark);
  border-radius: 4px;
  color: var(--gray);
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  width: 240px;

  &:hover {
    border-color: var(--gray-light);
  }
}
