.select {
  position: relative;
}

.toggle {
  background-color: white;
  border: 2px solid var(--white-dark);
  border-radius: 4px;
  color: #686868;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  height: 34px;
  width: 240px;
  padding: 0 34px 0 12px;
  position: relative;

  > img {
    margin-right: 10px;
  }

  &:hover {
    border-color: var(--gray-light);
  }
}

.toggle_active {
  border-color: var(--gray-dark);
}

.chevron {
  height: 14px;
  position: absolute;
  right: 8px;

  > svg {
    width: 14px;
  }
}

.list {
  background-color: white;
  box-shadow: 0 2px 2px 0 #dad8d8;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 100;
}

.list_active {
  display: block;
}

.list_button {
  background-color: white;
  border: none;
  color: #606060;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  width: 100%;
  padding: 0 12px;

  > img {
    margin-right: 10px;
  }

  &:hover {
    background-color: #fbfbfb;
  }
}

.list_button_active {
  background-color: #fbfbfb;
}
